# Automatically normalize text files
* text=auto

# JavaScript / TypeScript
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf

# Stylesheets
*.css text eol=lf
*.scss text eol=lf

# HTML
*.html text eol=lf

# JSON
*.json text eol=lf

# Markdown
*.md text eol=lf

# Netlify configuration
_redirects text eol=lf
netlify.toml text eol=lf

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg text

# Fonts
*.woff binary
*.woff2 binary
*.ttf binary